header {}

body {
    font-family: 'Roboto', 'Raleway', sans-serif;
    background-color: #FFFFFF;
    color: #434455;
}

.container {
    display: flex;
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.header-container {
    justify-content: space-between;
    align-items: center;
}

.header {
    display: flex;
    border-bottom: 1px solid #E7E9FC;
}

.header-nav,
.page-nav,
.list-cont {
    display: flex;
    flex-wrap: wrap;
}

.page-nav {
    padding-right: 332px;
}

.header-nav {
    display: flex;
    gap: 76px;
    align-items: center;
}

.page-nav,
.list-cont {
    gap: 40px;
}

.accent-text-logo {
    color: #4D5AE5;
}

.logo {
    color: #2E2F42;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.page-nav .link {
    display: block;
    text-decoration: none;
    list-style-type: none;
    color: #2E2F42;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.link:hover,
.link:focus {
    color: #404bbf;
}

.link,
.link-cont {
    padding: 24px 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: Roboto, sans-serif;
}

p {
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

.list-cont .link-cont {
    text-decoration: none;
    list-style: none;
    color: #434455;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: block;
}

.link-cont:hover,
.link-cont:focus {
    color: #404bbf;
}

.section-hero {
    color: #FFFFFF;
    background-color: #2E2F42;
    text-align: center;
    padding: 188px 0;
}

.text-hero-btn {
    margin: 0 auto;
}

.cta-btn {
    color: #FFFFFF;
    background-color: #4D5AE5;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    border: none;
    padding: 16px 32px;
}

.cta-btn:hover,
.cta-btn:focus {
    background-color: #404BBF;
}

h1 {
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    max-width: 496px;
    margin: 0 auto 48px;
}

.section-features {
    padding: 120px 0;
}

.feature-container {
    /*justify-content: space-between;*/
    /*align-items: center;*/
}

.text-features {
    text-align: left;
}

.list-feature {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.card-text {
    display: block;
    margin-right: 24px;
    flex: 0 0 calc((100% - 72px) / 4);
}

.card-text:last-child {
    margin-right: 0;
}

.section-team {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.team-container {
    display: flex;
    flex-direction: column;
}

.text-team-h2 {
    display: block;
    text-align: center;
    margin-bottom: 72px;
}

.text-team-h3,
.text-team {
    text-align: center;
}

.list-team {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;

}

.card-team {
    background-color: #FFFFFF;
    display: block;
    max-width: 264px;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-info {
    padding: 32px 16px;
}

.text-team-h2,
.text-portfolio-h2 {
    font-family: Roboto, sans-serif;
    color: #2e2f42;
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.111;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
}

.text-features-h3,
.text-team-h3,
.text-portfolio-h3 {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.text-features,
.text-team,
.text-portfolio {
    font-family: Roboto, sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.text-features-h3,
.text-team-h3,
.text-portfolio-h3 {
    margin-bottom: 8px;
}

.section-portfolio {
    padding: 120px 0;
}

.portfolio-container {
    display: flex;
    flex-direction: column;
}

.text-portfolio {
    text-align: left;
}

.list-portfolio {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 48px 24px;
    margin: 0 auto;
}

.card-portfolio {
    display: block;
    width: 360px;
}

.portfolio-info {
    padding: 32px 16px;
    border: 1px solid #E7E9FC;
    border-top: none;
}

footer {
    background-color: #2E2F42;
    color: #F4F4FD;
    padding: 100px 0;
}

.footer-container {}


.logo-footer {
    color: #F4F4FD;
}

.text-footer {
    padding-top: 16px;
    font-family: Roboto, sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer-info {
    display: block;
    width: 264px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}