header {
}

/*.page-nav {*/
/*    display: flex;*/
/*    gap: 40px;*/
/*    top: 24px;*/
/*    left: 347px;*/
/*    width: 261px;*/
/*    height: 24px;*/
/*}*/

.page-nav .link {
    text-decoration: none;
    list-style-type: none;
    color: #2E2F42;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.page-nav .link:hover,
.page-nav .link:focus {
    color: #404bbf;
}


ul {
    list-style-type: none;
    font-family: Roboto, sans-serif;
}

.list-cont .link-cont {
    text-decoration: none;
    list-style: none;
    color: #434455;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.list-cont .link-cont:hover,
.list-cont .link-cont:focus {
    color: #404bbf;
}


body {
    font-family: 'Roboto', 'Raleway', sans-serif;
    background-color: #FFFFFF;
    color: #434455;
}

.logo {
    color: #2E2F42;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.section-hero {
    color: #FFFFFF;
    background-color: #2E2F42;
}

.section-hero .cta-btn {
    color: #FFFFFF;
    background-color: #4D5AE5;
    text-align: center;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.section-hero .cta-btn:hover,
.section-hero .cta-btn:focus {
    background-color: #404BBF;
}

h1 {
    font-family: Roboto, sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.text-features-h2,
.text-team-h2,
.text-portfolio-h2 {
    font-family: Roboto, sans-serif;
    color: #2e2f42;
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.111;
    letter-spacing: 0.02em;
}

.text-features-h3,
.text-team-h3,
.text-portfolio-h3 {
    color: #2e2f42;
}

.text-features,
.text-team,
.text-portfolio {
    color: #434455;
}

.text-features-h3 {
    font-family: Roboto, sans-serif;
    text-align: left;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.text-features {
    font-family: Roboto, sans-serif;
    text-align: left;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.section-team {
    background-color: #F4F4FD;
}

.card {
    background-color: #FFFFFF;
}

 .text-team-h3 {
     font-family: Roboto, sans-serif;
     text-align: center;
     font-weight: 500;
     font-size: 20px;
     line-height: 1.2;
     letter-spacing: 0.02em;
 }

 .text-team {
     font-family: Roboto, sans-serif;
     text-align: center;
     font-weight: normal;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
 }

.text-portfolio-h3 {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.text-portfolio {
    font-family: Roboto, sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

footer {
    background-color: #2E2F42;
    color: #F4F4FD;
}

footer .logo {
    color: #F4F4FD;
}

.accent-text-logo {
    color: #4D5AE5;
}

footer .text-footer {
    font-family: Roboto, sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

